header, footer {
    background-color: #004a4a;
    color:navajowhite;
    padding: 15px;
    text-align: center;
} 
aside {
    padding-top: 20px;
    font-weight: bold;
}
body {
    background-color: floralwhite;
    background-image: url( https://cdn.pixabay.com/photo/2015/11/13/13/11/donations-1041971_960_720.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
#lname, #fname, #email,
#address, #address2,#city,
#state, #zip,#amount {
    margin-left: 10px;
    position: absolute;
    left: 110px;
}
h1 {
    color: darkblue;
}