header, footer {
    background-color: #004a4a;
    color: #ddd;
    padding: 20px;
    text-align: center;
} 
aside {
    padding-top: 10px;
    font-weight: bold;
}
h1 {
    color: darkblue;
}
input:checked{
    position: relative;
    text-align: right;
}
#paragragh1 {
    color:darkgoldenrod;
}